/* Variables for 't Klein Moment */

// Colors

$wit: #F6F6F6;
$lichtgrijs: rgb(233, 233, 233);
$grijs: rgb(161, 153, 153);
$donkergrijs: rgb(58, 58, 58);
$zwart: rgb(19, 15, 13);

$standaard: #a52727;

$box-schaduw: rgba(0,0,0,0.35);
$box-schaduw-donker: rgba(0, 0, 0, 0.8);

$delete-color: rgb(43, 5, 5);
$delete-color2 : rgb(99, 8, 8);


// Fonts

$hoofdfont: "Roboto", Arial, sans-serif;
$subfont: "Roboto Slab", Times, serif;


// Screenwidth

$extrasmallscreen: 600px;
$smallscreen: 750px;
$mediumscreen: 1000px;
$largescreen: 1140px;
