/* Variables for 't Klein Moment */

// Colors

$wit: #F6F6F6;
$lichtgrijs: rgb(201, 201, 201);
$grijs: rgb(134, 134, 134);
$donkergrijs: rgb(58, 58, 58);
$zwart: rgb(19, 15, 13);

$standaard: #af2929;

// Fonts

$hoofdfont: Roboto, Arial, sans-serif;
$subfont: "Roboto Slab", Times, serif;